/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url('../fonts/Baskerville.ttc');
}

/*////////// Global Styles //////////*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	margin: 0;
	font: 100 5em 'Baskerville';
}

hr {
	border: 1px solid #ccc;
	margin: 5px 0;
}

h1, h2 {
	color: rgb(220, 220, 220);
}

img {
	max-width: 100%;
	border: 5px solid #ccc;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
